.App {
  height: 100vw;
  margin: 0;
  padding: 0;
  width: 100vh;
  text-align: center;
}

.Sidebar{
  height: 100%;
  width: 250px;
  background-color: midnightblue;
  text-emphasis-color: gold;
  text-align: left;
}

.Icon{
  color: deepskyblue;
  display: inline-block;
}

.Text{
  color: chartreuse;
  display: inline-block;
}

.Hover:hover{
  background-color: chocolate;
}